/* общие стили */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.button {
  display: block;
  box-sizing: border-box;
  min-height: 38px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 5px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

button[tupe="button"]:focus,
button[tupe="button"]:hover {
  outline: 1px solid #ee3643
}

button[tupe="button"]:active {
  outline: none;
  opacity: 0.3;
}

/* стили для хедера */
.main-header {
  box-sizing: border-box;
  padding-bottom: 64px;
  margin-bottom: 59px;
  font-size: 17px;
  line-height: 18px;
  background-color: #f4f7f9;
}

.main-header h1 {
  width: 250px;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.top-header {
  background-color: #293449;
}

.top-header .container {
  display: flex;
}

.top-header a {
  box-sizing: border-box;
  display: block;
  padding: 0;
  padding-top: 12px;
  width: 150px;
  color: #FFFFFF;
  background-color: #293449;
}

a.logo {
  display: block;
  width: 220px;
  padding: 13px 54px 7px 55px;
  background-color: #ee3643;
  box-shadow: 0px 5px 0 0 rgb(180, 41, 51)
}

a.logo:hover {
  background-color: #ca2c37;
}

a.logo:active {
  background-color: #ba2732;
}

.search {
  position: relative;
  box-sizing: border-box;
  flex: 0 0 270px;
  min-height: 42px;
}

.search input {
  height: 100%;
  width: 100%;
  padding: 7px 0 9px 49px;
  color: #FFFFFF;
  background-color: transparent;
  border: 0;
}

.search input::placeholder

/* .search input::-webkit-input-placeholder,
.search input::-moz-placeholder,
.search input:-moz-placeholder,
.search input:-ms-input-placeholder */
  {
  color: #FFFFFF;
}

.search input:hover {
  background-color: #212a3a;
}

.search input:focus {
  color: #000000;
  background-color: #FFFFFF;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.search input:hover+.search-icon {
  opacity: 1;
}

.search input:focus+.search-icon path {
  fill: #ee3643;
}

a.marker-link {
  position: relative;
  padding-left: 44px;
}

a.corf-link {
  position: relative;
  padding-left: 50px;
}

a.order-link {
  min-height: 42px;
  padding-left: 20px;
  background-color: #63a63e;
}

.marker-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark-3.svg");
  opacity: 0.3;
}

.marker-link:hover::before,
.marker-link:focus::before {
  opacity: 1;
}

.marker-link:active::before {
  opacity: 0.5;
}

a.marker-link:active {
  opacity: 0.6;
}

.corf-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/cart-icon-2.svg");
  opacity: 0.3;
}

.corf-link:hover::before,
.corf-link:focus::before {
  opacity: 1;
}

.corf-link:active::before {
  opacity: 0.5;
}

a.corf-link:active {
  opacity: 0.6;
}

.order-link:hover,
.order-link:focus {
  background-color: #5fbb2d;
}

.order-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.middle-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 158px;
}

.middle-header .info {
  box-sizing: border-box;
  width: 300px;
  padding-left: 52px;
}

.info h1 {
  width: 196px;
  margin-top: 22px;
}

.middle-header .contacts {
  width: 300px;
}

.middle-header .phone {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-top: 9px;
  width: 270px;
  padding: 10px 0 8px 70px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: solid 3px #ffffff;
}

.middle-header .phone::before {
  content: "";
  position: absolute;
  left: 13px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
}

.middle-header .adress {
  margin: 0;
  padding-top: 2px;
  padding-left: 10px;
  width: auto;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.middle-header .main-navigation,
.user-navigation {
  list-style: none;
}

.user-navigation {
  box-sizing: border-box;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -5px;
  width: 300px;
  padding-left: 0;
  font-size: 21px;
  line-height: 21px;
}

.user-navigation li {
  position: relative;
  padding-top: 7px;
}

.user-navigation a {
  box-sizing: border-box;
  position: relative;
  padding: 10px 27px 10px 47px;
  color: #000000;
  background-color: #FFFFFF;
}

.user-navigation .login {
  margin-left: 21px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 12px 14px;
}

.user-navigation .checkin {
  padding: 10px 23px 11px 25px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation.none {
  display: none;
}

.user-navigation.login {
  margin-top: 19px;
}

.user-navigation .name {
  display: block;
  width: 300px;
}

.user-navigation .logout {
  position: absolute;
  top: 19px;
  right: -40px;
  background-color: transparent;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  opacity: 0.25;
}

.user-navigation .logout:hover,
.user-navigation .logout:focus {
  opacity: 1;
}

.user-navigation .logout:active {
  opacity: 0.25;
}

.user-navigation .name:hover,
.user-navigation .name:focus {
  color: #000000;
}

.user-navigation .name:active {
  color: rgba(0, 0, 0, 0.3);
}

.name::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 13px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  opacity: 0.25;
}

.user-navigation .name:hover::before,
.user-navigation .name:focus::before {
  opacity: 1;
}

.user-navigation .name:active::before {
  opacity: 0.25;
}

.user-navigation .orders,
.user-navigation .office {
  padding-left: 18px;
  padding-right: 0;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  background-color: transparent;
}

.user-navigation .office {
  padding-right: 73px;
}

.user-navigation .office::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 1px;
  width: 4px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  color: #FFFFFF;
  background-color: #32425c;
  box-shadow: 0px 5px 0 0 #293449;
}

.main-navigation a {
  display: block;
  padding: 19px 15px 19px 15px;
  font-size: 17px;
  line-height: 17px;
  color: #FFFFFF;
}

.main-navigation li:first-child a {
  padding-left: 52px;
}

.main-navigation li:last-child a {
  padding-right: 55px;
}

.main-navigation a:hover {
  background-color: #1d2739;
  box-shadow: 0px 5px 0 0 #1d2739;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

/* стили основной части */
.services {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.services-item {
  position: relative;
  box-sizing: border-box;
  width: 300px;
  min-height: 123px;
  padding-top: 21px;
  padding-left: 23px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.services-item:first-child {
  margin-right: 20px;
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.services-item:last-child {
  margin-left: 20px;
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.column {
  margin: 0;
  float: right;
}

.services-item.sell {
  margin: 0;
  margin-bottom: 20px;
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 196px 26px;
}

.services-item.delivery {
  margin: 0;
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.services-item p {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}

.services-item a {
  display: block;
  box-sizing: border-box;
  width: 135px;
  height: 38px;
  padding-top: 12px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.services-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.services-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider {
  position: relative;
  margin-bottom: 29px;
  padding-top: 25px;
  padding-left: 24px;
  width: 620px;
  height: 266px;
}

.slider h3 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.slider p {
  display: block;
  max-width: 300px;
  margin: 0;
  margin-bottom: 123px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.slider .button {
  width: 195px;
  padding-left: 7px;
}

.slider .left {
  position: absolute;
  top: 114px;
  left: 25px;
  width: 22px;
  height: 40px;
  background: url("../img/icon-left.svg") no-repeat 0 0;
}

.slider .right {
  position: absolute;
  top: 115px;
  right: 44px;
  width: 22px;
  height: 40px;
  background: url("../img/icon-right.svg") no-repeat 0 0;
}

.slider .left:hover,
.slider .right:hover {
  outline: 1px solid #FFFFFF;
}

.slider-drill {
  background-image: url("../img/drill.jpg");
  background-repeat: no-repeat;
}

.slider-perforator {
  background-image: url("../img/perforator.jpg");
  background-repeat: no-repeat;
}

.slider .radio-slider-position {
  display: flex;
  width: 50px;
  position: absolute;
  bottom: 60px;
  left: 295px;
}

.radio-slider-position label {
  display: block;
  width: 6px;
  height: 6px;
  margin-right: 10px;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}

.radio-slider:checked+label {
  background-color: #ee3643;
}

.headline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  min-height: 89px;
  align-items: center;
  text-transform: uppercase;
  background-color: #f9f5f0;
}

.headline h2 {
  padding-left: 30px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.headline .button {
  width: 253px;
  margin-right: 24px;
}

.main-gallery {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.produser {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 65px;
  list-style: none;
}

.produser a {
  display: flex;
  box-sizing: border-box;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid #eaeaea;
}

.produser a:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.produser a:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.produser img {
  margin: auto;
}

.service {
  min-height: 522px;
  margin-bottom: 79px;
  background-color: #f4f7f9;
}

.service .container {
  padding-top: 40px;
}

.service h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.service p {
  font-family: "PT Sans", Arial, sans-serif;
}

.service-head {
  width: 400px;
  margin-bottom: 24px;
}

.servise-catalog {
  float: left;
  width: 240px;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
  list-style: none;
  background-image: url("../img/layer.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.servise-catalog a {
  box-sizing: border-box;
  display: block;
  width: 240px;
  height: 61px;
  padding-top: 10px;
  padding-left: 22px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #32425c;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.servise-catalog .active {
  color: #32425c;
  background-color: #FFFFFF;
}

.service-info {
  padding-top: 44px;
  padding-left: 320px;
}

.service h3 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.service-info p {
  display: block;
  width: 275px;
}

.service-info .button {
  width: 195px;
  margin-top: 31px;
}

.service-info.delivery {
  padding-bottom: 84px;
  background-image: url("../img/car-delivery.png");
  background-repeat: no-repeat;
  background-position: 471px 71px;
}

.service-info.seal {
  padding-bottom: 84px;
  background-image: url("../img/seal.png");
  background-repeat: no-repeat;
  background-position: 471px 71px;
}

.service-info.credit {
  padding-bottom: 84px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 471px 71px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.compani-info {
  flex: 0 0 519px;
  margin-bottom: 86px;
}

.compani-info ul {
  list-style: none;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  padding-left: 37px;
  font-size: 18px;
  line-height: 20px;
}

.compani-info li {
  margin-bottom: 21px;
}

.compani-info .button {
  width: 220px;
}

.flex h2 {
  margin: 0;
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.flex p {
  margin: 0;
  margin-bottom: 22px;
  font-family: "PT Sans", Arial, sans-serif;
}

.contacts {
  width: 300px;
}

.contacts p {
  display: block;
  width: 179px;
  margin-bottom: 30px;
}

.contacts .map {
  margin-bottom: 32px;
}

/* футер */
.top-footer {
  background-color: #32425c;
  margin: 0;
  padding-bottom: 50px;
}

.footer {
  padding-top: 21px;
  background-color: #293449;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.top-footer .logo {
  padding-top: 20px;
  padding-left: 41px;
  margin-bottom: 28px;
  width: 125px;
  height: 41px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.top-footer .left-coloum {
  width: 400px;
}

.top-footer .left-coloum p {
  margin: 0;
  padding: 0;
  padding-left: 2px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation {
  padding-top: 19px;
}

.footer-navigation div {
  display: flex;
  justify-content: flex-end;
}

.footer-navigation a {
  display: block;
  padding: 19px 20px 14px 39px;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-navigation div:last-child a {
  color: #ffda96;
}

.footer-navigation div a:last-child {
  padding-right: 0;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-copyright {
  display: block;
  margin-right: 15px;
  width: 250px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 18px;
}

.footer-sosial {
  display: flex;
  padding: 0;
  padding-left: -10px;
  list-style: none;
}

.sosial-button {
  display: block;
  width: 42px;
  height: 42px;
  font-size: 1px;
  color: transparent;
  background-color: #212a3a;
  border-radius: 50%;
}

.sosial-vk {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sosial-fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sosial-insta {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sosial-button:hover,
.sosial-button:active {
  background-color: #ee3643;
}

.footer-copyright-email {
  display: block;
  width: 140px;
  margin-right: 48px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 18px;
}

.footer-copyright-email a {
  color: #ffd180;
}

.footer-copyright-email a:hover {
  text-decoration: underline;
}

.footer-copyright-email a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-copyright-academy {
  display: block;
  width: 100px;
  margin-right: 10px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 18px;
}

.footer-copyright-academy a {
  color: #ffd180;
}

.footer-copyright-academy a:hover {
  text-decoration: underline;
}

.footer-copyright-academy a:active {
  text-decoration: none;
  color: #ee3643;
}

/* модальные окна */
.modal {
  position: fixed;
  z-index: 100;
  top: 120px;
  left: 50%;
}

.button-close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 9px;
  right: 9px;
  border: 0;
  font-size: 1px;
  color: transparent;
  background-color: transparent;
  background-image: url("../img/form-2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-map {
  margin-left: -470px;
}

.modal-feedback {
  box-sizing: border-box;
  width: 620px;
  height: 430px;
  margin-left: -310px;
  background-color: #FFFFFF;
  border-top: 7px solid #ee3643;
}

.modal-feedback label {
  font-size: 18px;
  line-height: 18px;
}

.modal-feedback input {
  box-sizing: border-box;
  margin-top: 9px;
  margin-bottom: 20px;
  padding-top: 0;
  padding-left: 15px;
  width: 220px;
  height: 38px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  border: 1px solid #dee3e4;
  border-radius: 3px;
}

.modal-feedback textarea {
  box-sizing: border-box;
  width: 460px;
  min-height: 114px;
  margin-top: 11px;
  margin-bottom: -15px;
  padding-top: 8px;
  padding-left: 15px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #dee3e4;
  border-radius: 3px;
}

.modal-feedback .feedback {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 48px 80px;
}

.modal-feedback .button {
  margin: auto;
  width: 460px;
  border: 0;
}

.background {
  box-sizing: border-box;
  display: flex;
  min-height: 112px;
  background-color: #f4f4f4;
}

.modal-basket {
  box-sizing: border-box;
  width: 620px;
  height: 282px;
  margin-left: -310px;
  background-color: #FFFFFF;
  border-top: 7px solid #ee3643;
}

.modal-basket h2 {
  margin: 0;
  margin-top: 75px;
  margin-left: 179px;
  margin-bottom: 68px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.modal-basket h2::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/form-1.svg");
}

.modal-basket .background {
  justify-content: space-between;
  padding: 37px 80px;
}

.modal-basket .button {
  width: 220px;
  height: 38px;
  border: 0;
}

.modal-basket button {
  color: #000000;
  background-color: #FFFFFF;
}

/*cетка каталога */
.corf-link.unvoid {
  background-color: #ee3643;
}

.catalog-top {
  margin-top: -37px;
}

h1.catalog {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 89px;
  padding-top: 30px;
  padding-left: 28px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a {
  padding: 0;
  padding-left: 40px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 15px 1px;
}

.breadcrumbs li:first-child {
  display: block;
  width: 14px;
  height: 12px;
  padding-top: 1px;
  padding-left: 1px;
  font-size: 0;
  color: transparent;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
}

.breadcrumbs li:last-child {
  padding: 0;
  padding-left: 43px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 18px 1px;
}

.catalog-main {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 220px;
}

.filter p {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 38px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filter fieldset {
  border: 0;
  padding: 0;
}

.filter legend {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  margin-bottom: 15px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter label {
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.filter .price-control {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  background-color: #f7f3ec;
}

.price-control .scale {
  position: relative;
  margin: auto;
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.scale-control+div {
  width: 150px;
  height: 2px;
  background-color: #63a63e;
}

.price-control .scale-control {
  position: absolute;
  top: -10px;
  left: -11px;
  width: 20px;
  height: 22px;
  background-image: url("../img/filter-button.svg");
}

.scale div:last-child {
  left: 150px;
}

.filter .price {
  position: relative;
  box-sizing: border-box;
  width: 95px;
  height: 38px;
  margin-top: 7px;
  margin-bottom: 27px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: #f7f3ec;
  border: 0;
}

.filter .price-min::after {
  content: "—";
  display: block;
  position: absolute;
  top: 19px;
  right: -10px;
  width: 10px;
  height: 1px;
  z-index: 10;
  background-color: #444444;
}

.filter .produser-filter {
  padding-top: 15px;
  border-top: 1px solid #c5c5c5;
}

.filter .input-hidden,
.slider .input-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.filter .checkbox {
  position: absolute;
  top: -2px;
  left: -1px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.input-hidden:checked+.checkbox {
  background-image: url("../img/checkbox-on.svg");
}

.input-hidden:hover+.checkbox {
  opacity: 0.8;
}

.input-hidden:disabled+.checkbox {
  opacity: 0.3;
}

.input-hidden:checked:disabled+.checkbox {
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.3;
}

.filter .power {
  padding-top: 17px;
  border-top: 1px solid #c5c5c5;
}

.filter .radio {
  position: absolute;
  top: -2px;
  left: -1px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.input-hidden:checked+.radio {
  background-image: url("../img/radio-on.svg");
}

.input-hidden:hover+.radio {
  opacity: 0.8;
}

.input-hidden:disabled+.radio {
  opacity: 0.3;
}

.input-hidden:checked:disabled+.radio {
  background-image: url("../img/radio-on.svg");
  opacity: 0.3;
}

.filter button {
  box-sizing: border-box;
  width: 140px;
  margin-top: 58px;
  padding: 10px 38px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: solid 1px #e5e5e5
}

.catalog-right-column {
  width: 700px;
}

.sorting {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding-top: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.sorting h2 {
  margin: 0;
  padding: 0;
  padding-left: 18px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.sorting a {
  margin: 0;
  padding: 0;
  color: #000000;
  opacity: 0.3;
}

.sorting .sorting-price {
  margin-left: 141px;
  margin-right: 70px;
}

.sorting .sorting-functions {
  margin-left: 65px;
  margin-right: 55px;
}

.sorting .sorting-growth {
  display: block;
  width: 11px;
  height: 14px;
  margin-right: 21px;
  font-size: 1px;
  color: transparent;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.sorting .sorting-wane {
  display: block;
  width: 11px;
  height: 14px;
  font-size: 1px;
  color: transparent;
  background-image: url("../img/icon-up-dir.svg");
  transform: rotate(180deg);
}

.sorting .sorting-wane:active,
.sorting .sorting-growth:active {
  color: transparent;
  opacity: 1;
  background-image: url("../img/icon-up-dir-red.svg");
}

.sorting a:hover {
  opacity: 1;
}

.sorting a:active {
  opacity: 1;
  color: #ee3643;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  width: 700px;
  list-style: none;
}

ul.main-gallery,
ul.catalog-list {
  font-size: 16px;
  font-family: "PTSans", Arial, sans-serif;
  color: black;
  background: white;
}

.catalog-item {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 19px;
  width: 220px;
  min-height: 318px;
  border: solid 1px #eaeaea;
}

.flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.flag-new.none {
  display: none;
}

.catalog-item .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 43px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.catalog-item .action .buy,
.catalog-item .action .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.catalog-item .action .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .action .buy:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.catalog-item .action .buy:active {
  background-color: #518534;
  border-color: #518534;
}

.catalog-item .action .bookmark:hover {
  border-color: #32425c;
}

.catalog-item .action .bookmark:active {
  opacity: 0.3;
}

.catalog-item .action {
  display: none;
}

.catalog-item:hover .action {
  display: block;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item h3 {
  margin: 9px;
  padding-left: 10px;
  font-size: 18px;
  line-height: 20px;
  font-family: "PTSans", Arial, sans-serif;
}

.catalog-item span {
  display: block;
  text-align: center;
}

.catalog-item del {
  display: block;
  text-align: center;
  margin-top: 11px;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
}

.catalog-item ins {
  display: block;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 27px;
  position: relative;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #EE3643;
  border-radius: 3px;
}

.catalog-item ins:after {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 45px;
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-list .pagination-item {
  padding: 10px 15px;
  margin-right: 9px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-list li:last-child a {
  padding: 10px 31px;
}

.pagination-list .pagination-item-current {
  color: #FFFFFF;
  background-color: #ee3643;
}

.pagination-list .pagination-item:hover,
.pagination-list .pagination-item:focus {
  border: 1px solid #bdc6ca;
}

.pagination-list .pagination-item:active {
  border: 1px solid #ee3643;
}

.catalog-info {
  margin-top: 70px;
  padding-top: 36px;
  padding-bottom: 55px;
  background-color: #f4f7f9;
}

.catalog-info h3 {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-info p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
